@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  :root {
    -webkit-tap-highlight-color: transparent;
  }
  .scrollbar-rounded::-webkit-scrollbar-thumb {
    @apply rounded-lg;
  }
  .h-fill-available {
    @apply h-screen;
    height: -webkit-fill-available;
  }
  .fill-box {
    transform-box: fill-box;
  }
}

@layer base {
  :root {
    --fill-1: 230 230 230;
    --fill-2: 242 242 242;
    --fill-3: 255 255 255;
    --primary: 0 0 0;
  }
  .dark {
    --fill-1: 48 50 54;
    --fill-2: 35 38 41;
    --fill-3: 24 25 27;
    --primary: 255 255 255;
  }
}
